# <font color=blue>Olist Analysis</font> - Data Combinations
## Table of contents
Importing libraries and datasets

### Data combinations

olist_order_customer_dataset

olist_items_reviews_items_dataset

olist_orders_count_dataset

olist_seller_count_dataset

olist_time_series_data

olist_items_products

olist_categories

olist_prices

olist_orders_products

olist_review_scores

olist_installments

olist_products_count

olist_photos_count

# Importing libraries and datasets

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import scipy

In [2]:
# Defining path
path = r'C:\Users\PC\Downloads\Olist Analysis'

In [3]:
# Import datasets
df_customers = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_customers_dataset.csv'), index_col = False)
df_geolocation = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_geolocation_dataset.csv'), index_col = False)
df_items = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_order_items_dataset.csv'), index_col = False)
df_payments = pd.read_csv(os.path.join(path,'Raw Data', 'olist_order_payments_dataset.csv'), index_col = False)
df_reviews = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_order_reviews_dataset.csv'), index_col = False)
df_orders = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_orders_dataset.csv'), index_col = False)
df_products = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_products_dataset.csv'), index_col = False)
df_sellers = pd.read_csv(os.path.join(path,'Prepared Data', 'olist_sellers_dataset.csv'), index_col = False)
df_translation = pd.read_csv(os.path.join(path,'Raw Data', 'product_category_name_translation.csv'), index_col = False)

# Combinations
# olist_order_customer_dataset
Combined from olist_customers_dataset and olist_orders_dataset

In [4]:
# Merging df_customers on df_orders
df_ord_cust = df_customers.merge(df_orders, on = 'customer_id', indicator = True)

In [5]:
# Checking dataframe head
df_ord_cust.head()

,Unnamed: 0_x,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,Unnamed: 0_y,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,88492,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00,both
1,1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,São Paulo,90418,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00,both
2,2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,São Paulo,22557,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00,both
3,3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,São Paulo,32180,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00,both
4,4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,São Paulo,69902,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00,both

In [6]:
# Removing unncessary columns
df_ord_cust = df_ord_cust.drop('Unnamed: 0_x', axis=1)
df_ord_cust = df_ord_cust.drop('Unnamed: 0_y', axis=1)
df_ord_cust = df_ord_cust.drop('_merge', axis=1)

In [7]:
# Rechecking dataframe head
df_ord_cust.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,order_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,00e7ee1b050b8499577073aeb2a297a1,delivered,2017-05-16 15:05:35,2017-05-16 15:22:12,2017-05-23 10:47:57,2017-05-25 10:35:35,2017-06-05 00:00:00
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,São Paulo,29150127e6685892b6eab3eec79f59c7,delivered,2018-01-12 20:48:24,2018-01-12 20:58:32,2018-01-15 17:14:59,2018-01-29 12:41:19,2018-02-06 00:00:00
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,São Paulo,b2059ed67ce144a36e2aa97d2c9e9ad2,delivered,2018-05-19 16:07:45,2018-05-20 16:19:10,2018-06-11 14:31:00,2018-06-14 17:58:51,2018-06-13 00:00:00
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,São Paulo,951670f92359f4fe4a63112aa7306eba,delivered,2018-03-13 16:06:38,2018-03-13 17:29:19,2018-03-27 23:22:42,2018-03-28 16:04:25,2018-04-10 00:00:00
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,São Paulo,6b7d50bd145f6fc7f33cebabd7e49d0f,delivered,2018-07-29 09:51:30,2018-07-29 10:10:09,2018-07-30 15:16:00,2018-08-09 20:55:48,2018-08-15 00:00:00

# olist_items_reviews_items_dataset
Combined from olist_order_items_dataset and olist_order_reviews_dataset

In [8]:
# Merging df_customers on df_orders
df_items_rev = df_reviews.merge(df_items, on = 'order_id', indicator = True)

In [9]:
# Checking dataframe head
df_items_rev.head()

,Unnamed: 0_x,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,Unnamed: 0_y,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,_merge
0,0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,51033,1,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,2018-01-18 15:47:59,185.00,13.63,both
1,0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,51034,2,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,2018-01-18 15:47:59,185.00,13.63,both
2,1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,72472,1,be0dbdc3d67d55727a65d4cd696ca73c,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-06 12:48:39,79.79,8.30,both
3,2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,109962,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-02-08 10:31:15,149.00,45.12,both
4,3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,44664,1,52c80cedd4e90108bf4fa6a206ef6b03,a1043bafd471dff536d0c462352beb48,2017-04-13 17:55:19,179.99,42.85,both

In [10]:
# Removing unncessary columns
df_items_rev = df_items_rev.drop('Unnamed: 0_x', axis=1)
df_items_rev = df_items_rev.drop('Unnamed: 0_y', axis=1)
df_items_rev = df_items_rev.drop('_merge', axis=1)

In [11]:
# Rechecking dataframe head
df_items_rev.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,1,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,2018-01-18 15:47:59,185.00,13.63
1,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59,2,fd25ab760bfbba13c198fa3b4f1a0cd3,6d803cb79cc31c41c4c789a75933b3c7,2018-01-18 15:47:59,185.00,13.63
2,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13,1,be0dbdc3d67d55727a65d4cd696ca73c,8e6d7754bc7e0f22c96d255ebda59eba,2018-03-06 12:48:39,79.79,8.30
3,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24,1,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,2018-02-08 10:31:15,149.00,45.12
4,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06,1,52c80cedd4e90108bf4fa6a206ef6b03,a1043bafd471dff536d0c462352beb48,2017-04-13 17:55:19,179.99,42.85

## olist_items_customer_geolocation_dataset
Combined from olist_customers_dataset and olist_geolocation_dataset

In [12]:
# Merging df_customers on df_geolocation
df_cust_geo = df_customers.merge(df_geolocation, on = 'customer_zip_code_prefix', indicator = True)

In [13]:
# Checking dataframe head
df_cust_geo.head()

,Unnamed: 0_x,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,Unnamed: 0_y,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,_merge
0,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,0,1037,-23.545621,-46.639292,sao paulo,São Paulo,both
1,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,650,1046,-23.546817,-46.645380,sao paulo,São Paulo,both
2,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,3979,1212,-23.537354,-46.639745,sao paulo,São Paulo,both
3,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,12079,1456,-23.577319,-46.694100,sao paulo,São Paulo,both
4,0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,12641,1415,-23.564063,-46.669823,são paulo,São Paulo,both

In [14]:
# Removing unncessary columns
df_cust_geo = df_cust_geo.drop('Unnamed: 0_x', axis=1)
df_cust_geo = df_cust_geo.drop('Unnamed: 0_y', axis=1)
df_cust_geo = df_cust_geo.drop('_merge', axis=1)

In [15]:
# Rechecking dataframe head
df_cust_geo.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,1037,-23.545621,-46.639292,sao paulo,São Paulo
1,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,1046,-23.546817,-46.645380,sao paulo,São Paulo
2,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,1212,-23.537354,-46.639745,sao paulo,São Paulo
3,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,1456,-23.577319,-46.694100,sao paulo,São Paulo
4,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,São Paulo,1415,-23.564063,-46.669823,são paulo,São Paulo

# olist_orders_count_dataset
Derived from olist_items_customer_geolocation_dataset

In [16]:
# Checking states value counts
df_cust_geo['customer_state'].value_counts(dropna = False)

São Paulo              674702
Rio de Janeiro         367794
Minas Gerais           286773
Rio Grande do Sul       77214
Paraná                  61415
Santa Catarina          55985
Espírito Santo          42413
Bahia                   37738
Distrito Federal        21746
Goiás                   15200
Pernambuco              12686
Mato Grosso             10303
Pará                     8955
Ceará                    8040
Maranhão                 6617
Mato Grosso do Sul       4851
Alagoas                  3463
Paraíba                  3296
Piauí                    3179
Sergipe                  2650
Rio Grande do Norte      2479
Rondônia                 1951
Tocantins                1578
Acre                      641
Amazonas                  568
Amapá                     426
Roraima                   188
Name: customer_state, dtype: int64

In [17]:
# Creating order_count dataframe
df_order_count = df_cust_geo['customer_state'].value_counts(dropna = False)

# olist_seller_count_dataset
Derived from olist_sellers_dataset

In [18]:
# Checking states value counts
df_sellers['seller_state'].value_counts(dropna = False)

São Paulo              1849
Paraná                  349
Minas Gerais            244
Santa Catarina          190
Rio de Janeiro          171
Rio Grande do Sul       129
Goiás                    40
Distrito Federal         30
Espírito Santo           23
Bahia                    19
Ceará                    13
Pernambuco                9
Paraíba                   6
Rio Grande do Norte       5
Mato Grosso do Sul        5
Mato Grosso               4
Rondônia                  2
Sergipe                   2
Piauí                     1
Acre                      1
Maranhão                  1
Amazonas                  1
Pará                      1
Name: seller_state, dtype: int64

In [19]:
# Creating sellers_count dataframe
df_sellers_count = df_sellers['seller_state'].value_counts(dropna = False)

# olist_time_series_data
Derived from olist_orders_dataset

In [20]:
# Checking delivery value counts
df_orders['order_delivered_customer_date'].value_counts(dropna = False)

NaN                    2965
2018-07-24 21:36:42       3
2018-05-08 23:38:46       3
2018-05-14 20:02:44       3
2017-12-02 00:26:45       3
                       ...
2018-07-12 17:48:45       1
2018-05-18 18:24:36       1
2018-01-17 13:29:13       1
2018-06-29 11:21:34       1
2018-03-16 13:08:30       1
Name: order_delivered_customer_date, Length: 95665, dtype: int64

In [21]:
# Creating sellers_count dataframe
df_deliveries = df_orders['order_delivered_customer_date'].value_counts(dropna = False)

# olist_items_products
Combined from olist_products_dataset and olist_order_items_dataset

In [22]:
# Merging df_items_prod on df_products
df_items_prod = df_items.merge(df_products, on = 'product_id', indicator = True)

In [23]:
# Checking dataframe head
df_items_prod.head()

,Unnamed: 0_x,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,Unnamed: 0_y,category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,_merge
0,0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,26608,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,both
1,8346,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,26608,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,both
2,36646,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,26608,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,both
3,49108,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,26608,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,both
4,55021,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,26608,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0,both

In [24]:
# Removing unncessary columns
df_items_prod = df_items_prod.drop('Unnamed: 0_x', axis=1)
df_items_prod = df_items_prod.drop('Unnamed: 0_y', axis=1)
df_items_prod = df_items_prod.drop('_merge', axis=1)

In [25]:
# Rechecking dataframe head
df_items_prod.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,category,product_name_length,product_description_length,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,4.0,650.0,28.0,9.0,14.0

# olist_categories
Derived from olist_items_products

In [26]:
# Checking category value counts
df_items_prod['category'].value_counts(dropna = False)

bed_bath_table               11115
health_beauty                 9670
sports_leisure                8641
furniture_decor               8334
computers_accessories         7827
                             ...
arts_and_craftmanship           24
cds_dvds_musicals               14
la_cuisine                      14
fashion_childrens_clothes        8
security_and_services            2
Name: category, Length: 71, dtype: int64

In [27]:
# Creating categories dataframe
df_categories = df_items_prod['category'].value_counts(dropna = False)

# olist_prices
Derived from olist_items_products

In [28]:
# Checking price value counts
df_items_prod['price'].value_counts(dropna = False)

59.90     2461
69.90     1978
49.90     1933
89.90     1534
99.90     1419
          ...
376.18       1
43.51        1
105.83       1
139.60       1
736.00       1
Name: price, Length: 5899, dtype: int64

In [43]:
# Creating prices dataframe
df_prices = df_order_prod['price'].value_counts(dropna = False)

# olist_orders_products
Derived from olist_items_products

In [42]:
# Merging df_order_prod on df_items_prod
df_order_prod = df_items_prod.merge(df_orders, on = 'order_id', indicator = True)

In [44]:
# Checking dataframe head
df_order_prod.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value,category,product_name_length,product_description_length,...,product_width_cm,Unnamed: 0,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,_merge
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.9,13.29,cool_stuff,58.0,598.0,...,14.0,85267,3ce436f183e68e07877b285a838db11a,delivered,2017-09-13 08:59:02,2017-09-13 09:45:35,2017-09-19 18:34:16,2017-09-20 23:43:48,2017-09-29 00:00:00,both
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-07-05 02:44:11,55.9,17.96,cool_stuff,58.0,598.0,...,14.0,64197,e6eecc5a77de221464d1c4eaff0a9b64,delivered,2017-06-28 11:52:20,2017-06-29 02:44:11,2017-07-05 12:00:33,2017-07-13 20:39:29,2017-07-26 00:00:00,both
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2018-05-23 10:56:25,64.9,18.33,cool_stuff,58.0,598.0,...,14.0,10214,4ef55bf80f711b372afebcb7c715344a,delivered,2018-05-18 10:25:53,2018-05-18 12:31:43,2018-05-23 14:05:00,2018-06-04 18:34:26,2018-06-07 00:00:00,both
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-07 18:55:08,58.9,16.17,cool_stuff,58.0,598.0,...,14.0,59155,30407a72ad8b3f4df4d15369126b20c9,delivered,2017-08-01 18:38:42,2017-08-01 18:55:08,2017-08-02 19:07:36,2017-08-09 21:26:33,2017-08-25 00:00:00,both
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-08-16 22:05:11,58.9,13.29,cool_stuff,58.0,598.0,...,14.0,41473,91a792fef70ecd8cc69d3c7feb3d12da,delivered,2017-08-10 21:48:40,2017-08-10 22:05:11,2017-08-11 19:43:07,2017-08-24 20:04:21,2017-09-01 00:00:00,both

In [45]:
# Removing unncessary columns
df_order_prod = df_order_prod.drop('Unnamed: 0', axis=1)
df_order_prod = df_order_prod.drop('order_purchase_timestamp', axis=1)
df_order_prod = df_order_prod.drop('order_approved_at', axis=1)
df_order_prod = df_order_prod.drop('order_delivered_carrier_date', axis=1)
df_order_prod = df_order_prod.drop('order_delivered_customer_date', axis=1)
df_order_prod = df_order_prod.drop('order_estimated_delivery_date', axis=1)
df_order_prod = df_order_prod.drop('product_name_length', axis=1)
df_order_prod = df_order_prod.drop('product_description_length', axis=1)
df_order_prod = df_order_prod.drop('shipping_limit_date', axis=1)
df_order_prod = df_order_prod.drop('product_photos_qty', axis=1)
df_order_prod = df_order_prod.drop('product_weight_g', axis=1)
df_order_prod = df_order_prod.drop('product_width_cm', axis=1)
df_order_prod = df_order_prod.drop('product_length_cm', axis=1)
df_order_prod = df_order_prod.drop('product_height_cm', axis=1)
df_order_prod = df_order_prod.drop('order_status', axis=1)
df_order_prod = df_order_prod.drop('_merge', axis=1)

In [46]:
# Rechecking dataframe head
df_order_prod.head()

,order_id,order_item_id,product_id,seller_id,price,freight_value,category,customer_id
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,3ce436f183e68e07877b285a838db11a
1,130898c0987d1801452a8ed92a670612,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,55.9,17.96,cool_stuff,e6eecc5a77de221464d1c4eaff0a9b64
2,532ed5e14e24ae1f0d735b91524b98b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,64.9,18.33,cool_stuff,4ef55bf80f711b372afebcb7c715344a
3,6f8c31653edb8c83e1a739408b5ff750,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,16.17,cool_stuff,30407a72ad8b3f4df4d15369126b20c9
4,7d19f4ef4d04461989632411b7e588b9,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,58.9,13.29,cool_stuff,91a792fef70ecd8cc69d3c7feb3d12da

# olist_review_scores
Derived from olist_order_reviews_dataset

In [47]:
# Checking review_score value counts
df_reviews['review_score'].value_counts(dropna = False)

5    57328
4    19142
1    11424
3     8179
2     3151
Name: review_score, dtype: int64

In [48]:
# Creating review_score dataframe
df_review_scores = df_reviews['review_score'].value_counts(dropna = False)

# olist_installments
Derived from olist_order_reviews_dataset

In [49]:
# Checking installments value counts
df_payments['payment_installments'].value_counts(dropna = False)

1     52546
2     12413
3     10461
4      7098
10     5328
5      5239
8      4268
6      3920
7      1626
9       644
12      133
15       74
18       27
11       23
24       18
20       17
13       16
14       15
17        8
16        5
21        3
0         2
22        1
23        1
Name: payment_installments, dtype: int64

In [50]:
# Creating installments dataframe
df_installments = df_payments['payment_installments'].value_counts(dropna = False)

# olist_products_count
Derived from olist_orders_products

In [51]:
# Checking products value counts
df_order_prod['product_id'].value_counts(dropna = False)

aca2eb7d00ea1a7b8ebd4e68314663af    527
99a4788cb24856965c36a24e339b6058    488
422879e10f46682990de24d770e7f83d    484
389d119b48cf3043d311335e499d9c6b    392
368c6c730842d78016ad823897a372db    388
                                   ...
99407e203910716731e1644a5a0bccd5      1
87b7dd1206b94ab75b6d45bbe487b24c      1
df297ceffd7a315a71586ace7d041ff2      1
15360bd9d521956ac6fe8b4b8d6fe08c      1
350688d9dc1e75ff97be326363655e01      1
Name: product_id, Length: 32328, dtype: int64

In [52]:
# Creating products_count dataframe
df_products_count = df_order_prod['product_id'].value_counts(dropna = False)

# olist_photos_count
Derived from olist_products_dataset

In [53]:
# Checking photo number value counts
df_products['product_photos_qty'].value_counts(dropna = False)

1.0     16483
2.0      6262
3.0      3859
4.0      2425
5.0      1483
6.0       967
7.0       343
8.0       192
9.0       105
10.0       95
11.0       46
12.0       35
13.0        9
15.0        8
17.0        7
14.0        5
18.0        2
19.0        1
20.0        1
Name: product_photos_qty, dtype: int64

In [54]:
# Creating photo number dataframe
df_photos_count = df_products['product_photos_qty'].value_counts(dropna = False)

# Exporting datasets

In [55]:
# Exporting new datasets
df_ord_cust.to_csv(os.path.join(path, 'Prepared Data', 'olist_order_customer_dataset.csv'))
df_items_rev.to_csv(os.path.join(path, 'Prepared Data', 'olist_items_reviews_items_dataset.csv'))
df_cust_geo.to_csv(os.path.join(path, 'Prepared Data', 'olist_items_customer_geolocation_dataset.csv'))
df_order_count.to_csv(os.path.join(path, 'Prepared Data', 'olist_orders_count_dataset.csv'))
df_sellers_count.to_csv(os.path.join(path, 'Prepared Data', 'olist_sellers_count_dataset.csv'))
df_deliveries.to_csv(os.path.join(path, 'Prepared Data', 'olist_time_series_data.csv'))
df_items_prod.to_csv(os.path.join(path, 'Prepared Data', 'olist_items_products.csv'))
df_categories.to_csv(os.path.join(path, 'Prepared Data', 'olist_categories.csv'))
df_prices.to_csv(os.path.join(path, 'Prepared Data', 'olist_prices.csv'))
df_review_scores.to_csv(os.path.join(path, 'Prepared Data', 'olist_review_scores.csv'))
df_installments.to_csv(os.path.join(path, 'Prepared Data', 'olist_installments.csv'))
df_products_count.to_csv(os.path.join(path, 'Prepared Data', 'olist_products_count.csv'))
df_photos_count.to_csv(os.path.join(path, 'Prepared Data', 'olist_photos_count.csv'))